html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  display: contents;
}

body {
  margin: 0;
  gap: 1rem;
  display: grid;
  background-color: #f2f1ed;
  grid-template-areas:
    "header"
    "main";
}

header[role="banner"] {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.pano {
  grid-column: 1 / -1;
  grid-row: 1 / 3;
}

.logo {
  width: 14rem;
  grid-column: 1;
  grid-row: 2;
  z-index: 1;
  margin: 1rem;
  align-self: flex-end;
}

nav {
  grid-column: 2 / -1;
  grid-row: 1;
  z-index: 2;
}

ul {
  display: flex;
  justify-content: space-around;
  font-family: "Patua One", sans-serif;
}

a {
  color: #fff;
}

h2 {
  color: #30658d;
  font-family: "Patua One", sans-serif;
}

figure {
  margin: 0;
}
