html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Patua One", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 6rem;
}

.pano {
  grid-column: 1 / -1;
  grid-row: 1 / 3;
}

.logo {
  width: 14rem;
  background-color: pink;
  grid-column:1/2 ;
  grid-row: 2/3;
  z-index: 1;
}

nav {
  grid-column: 2 / -1;
  grid-row: 1;
  z-index: 2;
}

ul {
  display: flex;
  justify-content: space-around;
}

ul li {
  color: #fff;
  text-decoration: none;
}
